* {
    margin: 10px;
    margin-top: 50px;
    text-align: center;
}

.scroll-disabled {
    height: 100%;
    overflow: hidden;
}

.img-full-screen,
.img-placeholder {
    cursor:pointer;
}

.img-placeholder {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    z-index: 999;
}